node_modules/
dist/
.astro/
.env
.env.*
!.env.example
*.local
*.log

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

# merge scripts
src/merge-down.sh
src/merge-up.sh
