:root
{
    --nova-blue : #333D61;
    --nova-gold : #DEA23C;

    height : 100%;
    width : 100%;
}

body
{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;

    background-image: url("../assets/img/statues.png");
    background-repeat : no-repeat;
    background-size : cover ;

    font-family : system-ui, 
                -apple-system, 
                BlinkMacSystemFont, 
                'Segoe UI', 
                Roboto, 
                Oxygen, 
                Ubuntu, 
                Cantarell, 
                'Open Sans', 
                'Helvetica Neue', 
                sans-serif ;
}

#back-btn
{
    display : flex;
    align-self : flex-start;

    background-color : var(--nova-blue);

    border-color  :var(--nova-gold);
    border-style : solid;
    border-width : 5px;

    width : 5%;
    height : 20px;
}

.arrow
{
    display : flex;
    align-items : flex-start;

    width : 100px;
    height : 100%;

    line-height : 0.25;

    color : var(--nova-gold);

    

    font-size : 40px;
    margin-top : 0px;
    padding-top : 0px;
    margin-left : 2px;
    
}
#title
{
    

    color : var(--nova-gold) ;

    -webkit-text-stroke-width : 2px;
    -webkit-text-stroke-color: black;

    margin-top : 0%;
}

#info
{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;

    background-color : rgba(255,255,255,0.8);
    width : 90%;
    height  : 250px;
    
    padding-left : 2%;
    padding-right  : 2%;
    padding-bottom : 5%;
}

#chapter-title
{
    display : flex;
    align-self : flex-start;

    font-size : 20px;
    color : var(--nova-gold);

    background-color : var(--nova-blue);


    margin-bottom : 0px;
}
#read-btn 
{
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;

    background-color : var(--nova-blue);
    height : 30px;
    width : 20%;

    border-color : var(--nova-gold);
    border-style : solid ;
    border-width : 5px;

    margin-bottom : 5%;
}

.read-txt
{
    display : flex;
    justify-content : center;
    color : var(--nova-gold);

    margin : 0px 0px 0px 0px;
}


#menu
{
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
    margin-top : 10%;
    width : 20%;
}

.btn-rect
{
    background-color : var(--nova-blue);
    height : 50px;
    width : 250%;
    margin-top : 20%;
    border-color : var(--nova-gold);
    border-style : solid ;
    border-width : 5px;
}

.menu-item
{
    display : flex;
    justify-content : center;
    color : var(--nova-gold);

}


